<!DOCTYPE html>
<html>
<head>
  <title>Holiday Cheer!</title>
  <script>
    CURRENT_EMAIL = "<%= @current_email %>";
    STAR_IMG = "<%= asset_url 'star-16.png' %>";
  </script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script
    type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwtAMXGSZz8FN-RUrQOQPXDI4r6pSn-UE">
  </script>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
