<!DOCTYPE html>
<html>
<head>
  <title>Holiday Cheer!</title>
  <script>
    CURRENT_EMAIL = "<%= @current_email %>";
    STAR_IMG = "<%= asset_url 'star-16.png' %>";
  </script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=400132176808183&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= yield %>
<link href="//fonts.googleapis.com/css?family=Oxygen:400italic,400,700italic,700" rel="stylesheet" type="text/css">
</body>
</html>
